- if mobile_device?

  %article.container-mobile
    .text-center
      %strong.text-dark
        Welcome!
    %div
      - if !flash.empty?
        - flash.keys.each do |k|
          -unless flash['success'].blank?
            %div{style: 'color:green;'}
              %br
              %h1=flash[k]

    %div
      %div
        = form_for "", remote: true, url: { controller: "sessions", action: "create" } do |f|
          %div
            -#%div
            -#  = f.check_box 'checkbox_signin_nickname', style: 'width: 22px;height: 22px;top: 13px;vertical-align: sub;'
            -#  = f.label t('login_via')
            %br
            %div
              = f.label :email, "e-mail", style: "text-align: left;"
            %div
              = f.text_field :email, class: '', style: "line-height: 30px", autocomplete: "email", required: true

            -# = f.text_field :nickname, class: ''
            %br

            %div
              = f.label :password, "password", style: "text-align: left;"
            %div
              = f.password_field :password, class: '', style: "line-height: 30px"

            %div
              %br
                = f.submit t('sign_in'), class: "button-center btn btn-md btn-dark"

  - if !flash.empty?
    - flash.keys.each do |k|
      -unless flash['alert'].blank?
        %div{style: 'color:red;'}
          =flash[k]

- else
  %article
    %div
      - if !flash.empty?
        - flash.keys.each do |k|
          -unless flash['success'].blank?
            %div{style: 'color:green;'}
              %br
              %h1=flash[k]

    %div.text-center.width250.container-sign
      %div
        .form_sign.position_relative.display-inline-block
        = form_for "", remote: true, url: { controller: "sessions", action: "create" } do |f|
          %div
            -#%div
            -#  = f.check_box 'checkbox_signin_nickname', style: 'width: 22px;height: 22px;top: 13px;vertical-align: sub;'
            -#  = f.label t('login_via')
            %br
          = f.text_field :email, class: 'form-control', placeholder: t('email'), autocomplete: "email", required: true

          -# = f.text_field :nickname, class: 'form-control'
          %br
          = f.password_field :password, class: 'form-control', placeholder: t('password')
          - if !flash.empty?
            - flash.keys.each do |k|
              -unless flash['alert'].blank?
                %div{style: 'color:red;'}
                  =flash[k]

          %br
          = f.submit t('sign_in'), class: " btn btn-sm btn-dark"


- flash['success'] = ''
- flash['alert'] = ''

:css
  body {
    color: white;
  }

  @media screen and (orientation:portrait) {
    .container-mobile {
      width: 35% !important;
      margin: 0 auto !important;
      display: block !important;
      float: none !important;
      margin-top: 45% !important;
      margin-bottom: auto !important;
    }
  }

  @media screen and (orientation:landscape) {
    .container-mobile {
      width: 21% !important;
      margin: 0 auto !important;
      display: block !important;
      float: none !important;
      margin-top: 8% !important;
    }
  }



:javascript

  $(document).ready(function(){
    $("#session_nickname").hide()
    $("#session_checkbox_signin_nickname").on('change', function() {

      if ( this.checked  === true) {
        console.log(this.checked)
        $("#session_nickname").show();
        $("#session_email").hide();

        document.getElementById('session_email').value = ''
        $("#id_email").text("#{t('nickname')}")

      } else {
        console.log(this.checked)
        $("#session_nickname").hide();
        $("#session_email").show();

        document.getElementById('session_nickname').value = ''
        $("#id_email").text("#{t('email')}")
      }

    });
    $('#session_checkbox_signin_nickname').click()
  });

