%article
  %div
    - if !flash.empty?
      - flash.keys.each do |k|
        -unless flash['success'].blank?
          %div{style: 'color:green;'}
            %br
            %h1=flash[k]

  %div.container.text-center
    %div.col-md-3
      .form_sign.position_relative.display-inline-block
      = form_for(:session, url: login_path) do |f|
        %div
          %div
            = f.check_box 'checkbox_signin_nickname', style: 'width: 22px;height: 22px;top: 13px;vertical-align: sub;'
            = f.label t('login_via')
          %br
        = f.label t('email'), id: :id_email
        = f.text_field :email, class: 'form-control', onfocus: "this.value=''"

        = f.text_field :nickname, class: 'form-control'
        %br
        = f.label t('password')
        = f.password_field :password, class: 'form-control'
        - if !flash.empty?
          - flash.keys.each do |k|
            -unless flash['alert'].blank?
              %div{style: 'color:red;'}
                =flash[k]

        %br
        = f.submit t('sign_in'), class: "col-md-12 btn btn-primary"

      -#%br
      -#%br
      -#.text-center
      -#  = form_for "", remote: true, url: { controller: "users/steps", action: "create_user"} do |f|
      -#    = f.submit t('sign_up'), class: "col-md-12 btn btn-primary"

- flash['success'] = ''
- flash['alert'] = ''

:css
  body {
    color: white;
  }
:javascript

  $(document).ready(function(){
    $("#session_nickname").hide()
    $("#session_checkbox_signin_nickname").on('change', function() {

      if ( this.checked  === true) {
        console.log(this.checked)
        $("#session_nickname").show();
        $("#session_email").hide();

        document.getElementById('session_email').value = ''
        $("#id_email").text("#{t('nickname')}")

      } else {
        console.log(this.checked)
        $("#session_nickname").hide();
        $("#session_email").show();

        document.getElementById('session_nickname').value = ''
        $("#id_email").text("#{t('email')}")
      }

    });
    $('#session_checkbox_signin_nickname').click()
  });