%article
  - if current_user.present?
    %h1 WorkSheet

    = render "shared/flash"
    %section.position_relative.display-inline-block
      / for demo wrap
      .tbl-header
        %table.table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
          %thead
            %tr
              %th.text-center Period date
              %th.text-center Worker
              %th.text-center Mon
              %th.text-center Tue
              %th.text-center Wed
              %th.text-center Thu
              %th.text-center Fri
              %th.text-center Sat
              %th.text-center Sun
              %th.text-center Total hours
              - if !current_user.rule.nil? && current_user.rule.manager
                %th.text-center
                  = link_to "", show_all_path(format: "pdf"), class: 'btn icon-pdf', target: "_blank"
                %th.text-center
                  = form_for "", remote: true, url: { controller: "work_shift_schedules/work_shift_schedules", action: "new"} do |f|
                    = f.submit "", class: "icon-new-worksheet btn"


      .tbl-content-form
        %br
        %table.table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
          %tbody
            - Period.all.each do |p|
              - WorkShiftSchedule.where(period_id: p.id).each_with_index do |wss, index|
                - u = User.find(wss.user_id)
                - if u.is_available && u.rule.worker && !u.rule.manager
                  %tr
                    %td.width175
                      - if index == 0
                        %div.display_flex
                          %div.padding-5-per
                            = link_to "", show_path(id_wss: p.id, format: "pdf"), class: 'btn icon-pdf', target: "_blank"
                          %div
                            %strong{ style: "color: #a46811; font-size: 16px;" }
                              #{p.to} - #{p.from} .#{p.month}.#{p.year}
                            %p Week #{p.week_number}

                    %td
                      %strong{ style: "color: #3c2d09;" }
                        = u.first_name
                        = u.last_name
                        (#{u.id})
                    %td.text-center
                      #{wss.monday_hours}
                      %br
                      #{wss.monday}
                    %td.text-center
                      #{wss.tuesday_hours}
                      %br
                      #{wss.tuesday}
                    %td.text-center
                      #{wss.wednesday_hours}
                      %br
                      #{wss.wednesday}
                    %td.text-center
                      #{wss.thursday_hours}
                      %br
                      #{wss.thursday}
                    %td.text-center
                      #{wss.friday_hours}
                      %br
                      #{wss.friday}
                    %td.text-center
                      #{wss.saturday_hours}
                      %br
                      #{wss.saturday}
                    %td.text-center
                      #{wss.sunday_hours}
                      %br
                      #{wss.sunday}
                    %td.text-center
                      = wss.monday_hours.to_i + wss.tuesday_hours.to_i + wss.wednesday_hours.to_i + wss.thursday_hours.to_i + wss.friday_hours.to_i + wss.saturday_hours.to_i + wss.sunday_hours.to_i

                    - if !current_user.rule.nil? && current_user.rule.manager
                      %td.display_flex{style: "border: 0px solid;"}
                        = form_for "", remote: true, url: { controller: "work_shift_schedules/work_shift_schedules", action: "show", id: wss.id} do |f|
                          = f.submit "", class: "icon-edit-worksheet btn"
                        .margin_left_30_per
                          = form_for "", remote: true, url: { controller: "work_shift_schedules/work_shift_schedules", action: "destroy", id: wss.id} do |f|
                            = f.submit "", class: "icon-delete-worksheet btn"

  - else
    = render "sessions/new_sessions"

