%article
  - if current_user.present?

    = render "shared/flash"
    %section.position_relative.display-inline-block
      / for demo wrap
      .tbl-header
        %table.table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
          %thead
            %tr
              %th.text-center Period date
              %th.text-center Worker
              %th.text-center Mon
              %th.text-center Tue
              %th.text-center Wed
              %th.text-center Thu
              %th.text-center Fri
              %th.text-center Sat
              %th.text-center Sun
              %th.text-center Total hours
              %th.text-center
                %div.display_flex
                  - if !current_user.rule.nil?
                    = link_to "", show_all_path(format: "pdf"), class: mobile_device? ? "icon-pdf-sm btn" : "icon-pdf btn" , target: "_blank"
                  - if !current_user.rule.nil? && current_user.rule.manager
                    = form_for "", remote: true, url: { controller: "work_shift_schedules/work_shift_schedules", action: "new"} do |f|
                      = f.submit "", class: mobile_device? ? "icon-new-worksheet-sm btn" : "icon-new-worksheet btn"
              %th


      .tbl-content-form
        %table.table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
          %tbody.common-table-article
            - Period.all.order("week_number desc").each do |p|
              - WorkShiftSchedule.where(period_id: p.id).each_with_index do |wss, index|
                - u = User.find(wss.user_id)
                - if index == 0
                  %tr
                    %th.style_for_empty_td
                    %th.style_for_empty_td
                    %th.style_for_empty_td
                    %th.style_for_empty_td
                    %th.style_for_empty_td
                    %th.style_for_empty_td
                    %th.style_for_empty_td
                    %th.style_for_empty_td
                    %th.style_for_empty_td
                    %th.style_for_empty_td
                    %th.style_for_empty_td
                    %th.style_for_empty_td
                - if index == 0
                  %tr{ style: "opacity:0;" }
                    %td
                      %br
                    %th.style_for_empty_td
                    %th.style_for_empty_td
                    %th.style_for_empty_td
                    %th.style_for_empty_td
                    %th.style_for_empty_td
                    %th.style_for_empty_td
                    %th.style_for_empty_td
                    %th.style_for_empty_td
                    %th.style_for_empty_td
                    %th.style_for_empty_td
                    %th.style_for_empty_td

                - if  u.rule.worker && u.is_available
                  %tr
                    %td{ style: "border-left: 0px !important; border-right: 0px !important; border-bottom: 0px !important;" }
                      - if index == 0
                        %div.height36
                          %div.padding-5-per
                            = link_to "", show_path(id_wss: p.id, format: "pdf"), class: 'btn icon-pdf', target: "_blank"
                          %div
                            %strong{ style: "color: #a46811; font-size: 8px;" }
                              #{p.to} - #{p.from} .#{p.month}.#{p.year}
                            %p Week #{p.week_number}

                    %td.text-center
                      %div{ style: "color: #2b7623; font-size: 10px;" }
                        %div
                          = u.first_name
                        %div
                          = u.last_name
                    %td.text-center
                      #{wss.monday_hours}
                      %br
                      #{wss.monday}
                    %td.text-center
                      #{wss.tuesday_hours}
                      %br
                      #{wss.tuesday}
                    %td.text-center
                      #{wss.wednesday_hours}
                      %br
                      #{wss.wednesday}
                    %td.text-center
                      #{wss.thursday_hours}
                      %br
                      #{wss.thursday}
                    %td.text-center
                      #{wss.friday_hours}
                      %br
                      #{wss.friday}
                    %td.text-center
                      #{wss.saturday_hours}
                      %br
                      #{wss.saturday}
                    %td.text-center
                      #{wss.sunday_hours}
                      %br
                      #{wss.sunday}
                    %td.text-center
                      - monday = (wss.monday.include?("LOMA") || wss.monday.include?("loma")) ? 0 : wss.monday_hours.to_i
                      - tuesday = (wss.tuesday.include?("LOMA") || wss.tuesday.include?("loma")) ? 0 : wss.tuesday_hours.to_i
                      - wednesday = (wss.wednesday.include?("LOMA") || wss.wednesday.include?("loma")) ? 0 : wss.wednesday_hours.to_i
                      - thursday = (wss.thursday.include?("LOMA") || wss.thursday.include?("loma")) ? 0 : wss.thursday_hours.to_i
                      - friday = (wss.friday.include?("LOMA") || wss.friday.include?("loma")) ? 0 : wss.friday_hours.to_i
                      - saturday = (wss.saturday.include?("LOMA") || wss.saturday.include?("loma")) ? 0 : wss.saturday_hours.to_i
                      - sunday = (wss.sunday.include?("LOMA") || wss.sunday.include?("loma")) ? 0 : wss.sunday_hours.to_i
                      = monday + tuesday + wednesday + thursday + friday + saturday + sunday

                    - if !current_user.rule.nil? && current_user.rule.manager
                      %td{ style: "border: 0px solid;" }
                        %div.display_flex
                          = form_for "", remote: true, url: { controller: "work_shift_schedules/work_shift_schedules", action: "show", id: wss.id} do |f|
                            = f.submit "", class: mobile_device? ? "icon-edit-worksheet-sm btn" : "icon-edit-worksheet btn"
                          = form_for "", remote: true, url: { controller: "work_shift_schedules/work_shift_schedules", action: "destroy", id: wss.id} do |f|
                            = f.submit "", class: mobile_device? ? "icon-delete-worksheet-sm btn" : "icon-delete-worksheet btn", data: { confirm: 'Are you sure?' }

                      %td
                    - else
                      %td.text-center

  - else
    = render "sessions/new_sessions"
