%aside.padding-10-per
  = render "shared/button_main_page"
  -# = render "shared/button_autorization"
  = render "shared/button_create_user"
  = render "shared/button_list_user"
  = render "shared/button_work_lists"
  = render "shared/button_locations"
  = render "shared/button_eggs_collect"
  = render "shared/button_select_lang"
  = render "shared/button_exit"
