%article
  %h1
    = t('create_user')
  %div{ style: "margin-left: 15%; max-width: 600px;" }

    %div{ style: "margin-left: 2%;" }
    %br
      - unless flash['alert'].blank?
        %div.position_relative.display-inline-block
          %div{ style: 'color: red;'}
            - flash[:alert].each do |key, value|
              #{key}:
              - value.each do |v|
                %p
                -
                &nbsp  &nbsp  &nbsp #{v}
              %br
              %br

      - unless flash['success'].blank?
        %div{ style: 'color:green; left: 45%; position: absolute;'}
          = flash['success']

    =form_for "", remote: true, url: { controller: 'users/users', action: 'create' } do |f|
      %table.table-new-user-form{:border => "0", :cellpadding => "0", :cellspacing => "0"}
        %tr
          %tr
            %th
              = t('first_name')
            %th
              %br
              =f.text_field :first_name, value: params[:first_name]
          %tr
            %th
              = t('last_name')
            %th
              %br
              =f.text_field :last_name, value: params[:last_name]
          %tr
            %th
              = t('email')
            %th
              %br
              =f.email_field :email, value: params[:email]
          %tr
            %th
              = t('nickname')
            %th
              %br
              =f.text_field :nickname, value: params[:nickname]
          %tr
            %th
              = t('phone')
            %th
              %br
              =f.text_field :phone, value: params[:phone]
          %tr
            %th
              = t('telegram')
            %th
              %br
              =f.text_field :telegram, value: params[:telegram]
              %br
          %tr
            %th
              = t('password')
            %th
              %br
              =f.password_field :password, placeholder: t('password')

          %tr
            %th
              = t('password_again')
            %th
              =f.password_field :password_confirmation, placeholder: t('password')

          %tr
            %th
            %th
              = t('password_must_be')

          %tr
            %th
              = t('role_create_new_user')
            %th
              %br
              .form-check.form-switch
                =f.check_box :role_create_user, checked: false, onclick: !current_user.nil? && current_user.rule.manager ? "" : "return false;", class: !current_user.nil? && current_user.rule.manager ? 'form-check-input transform-1-3 mx-5' : 'form-check-input transform-1-3 mx-5 opacity_05',  type: 'checkbox', id: 'flexSwitchCheckDefault'
          %tr
            %th
              = t('role_edit_user')
            %th
              %br
              .form-check.form-switch
                =f.check_box :role_edit_user, checked: true, class: 'form-check-input transform-1-3 mx-5',  type: 'checkbox', id: 'flexSwitchCheckDefault'
          %tr
            %th
              = t('edit_all_work_list')
            %th
              %br
              .form-check.form-switch
                =f.check_box :edit_all_work_list, checked: false, onclick: !current_user.nil? && current_user.rule.manager ? "" : "return false;", class: !current_user.nil? && current_user.rule.manager ? 'form-check-input transform-1-3 mx-5' : 'form-check-input transform-1-3 mx-5 opacity_05',  type: 'checkbox', id: 'flexSwitchCheckDefault'
          %tr
            %th
              = t('edit_work_list')
            %th
              %br
              .form-check.form-switch
                =f.check_box :edit_work_list, checked: true, class: 'form-check-input transform-1-3 mx-5',  type: 'checkbox', id: 'flexSwitchCheckDefault'
          %tr
            %th
              = t('edit_all_eggs_collection')
            %th
              %br
              .form-check.form-switch
                =f.check_box :edit_all_eggs_collection, checked: false, onclick: !current_user.nil? && current_user.rule.manager ? "" : "return false;", class: !current_user.nil? && current_user.rule.manager ? 'form-check-input transform-1-3 mx-5' : 'form-check-input transform-1-3 mx-5 opacity_05',  type: 'checkbox', id: 'flexSwitchCheckDefault'
          %tr
            %th
              = t('edit_eggs_collection')
            %th
              %br
              .form-check.form-switch
                =f.check_box :edit_eggs_collection, checked: true, class: 'form-check-input transform-1-3 mx-5',  type: 'checkbox', id: 'flexSwitchCheckDefault'
          %tr
            %th
              = t('worker')
            %th
              %br
              .form-check.form-switch
                =f.check_box :worker, checked: true, onclick: !current_user.nil? && current_user.rule.manager ? "" : "return false;", class: !current_user.nil? && current_user.rule.manager ? 'form-check-input transform-1-3 mx-5' : 'form-check-input transform-1-3 mx-5 opacity_05',  type: 'checkbox', id: 'flexSwitchCheckDefault'
          %tr
            %th
              = t('manager')
            %th
              %br
              .form-check.form-switch
                =f.check_box :manager, checked: false, onclick: !current_user.nil? && current_user.rule.manager ? "" : "return false;", class: !current_user.nil? && current_user.rule.manager ? 'form-check-input transform-1-3 mx-5' : 'form-check-input transform-1-3 mx-5 opacity_05',  type: 'checkbox', id: 'flexSwitchCheckDefault'
          %tr
            %th
              = t('is_available')
            %th
              %br
              .form-check.form-switch
                =f.check_box :is_available, checked: true, onclick: !current_user.nil? && current_user.rule.manager ? "" : "return false;", class: !current_user.nil? && current_user.rule.manager ? 'form-check-input transform-1-3 mx-5' : 'form-check-input transform-1-3 mx-5 opacity_05',  type: 'checkbox', id: 'flexSwitchCheckDefault'

          %tr
            %th
              =f.submit t('create_user'), class: 'btn btn-primary'

- flash[:alert] = ''
