- if current_user.present?
  %article
    = render "shared/flash"
    = form_for "", remote: true, url: { controller: "work_lists/work_lists", action: "search"} do |f|
      %div.display_flex

        - if current_user.rule.worker && current_user.is_available && current_user.rule.manager
          = f.select :user_id, User.all.map { |r| [r[:first_name] + " " + r[:last_name], r.id]}, { selected: params[:user_id].nil? ? current_user.id : params[:user_id] }, { class: "form-select width175 margin_left_2_per" }
        - else
          = f.hidden_field :user_id, value: current_user.id
        %br
          = f.select :month, Date::MONTHNAMES.each_with_index.collect{|m , i| [m.nil? ? m : m + " #{i}" , i]}, { selected: params[:month].nil? ? "" : params[:month] }, { class: "form-select width200 margin_left_2_per" }
        = f.select :year, %W[2022 2023 2024 2025 2026], { selected:  params[:year].nil? ? Date.today.year : params[:year]  }, { class: "form-select width125 margin_left_2_per" }
        %br
        = f.submit "", class: "btn btn-sm btn-primary icon-search width100 margin_left_2_per"
        %br


    - if params[:hide] == false

      - if @work_list.blank?
        = form_for "", remote: true, url: { controller: "work_lists/work_lists", action: "new"} do |f|
          = f.hidden_field :month, value: params[:month]
          = f.hidden_field :year, value: params[:year]
          = f.hidden_field :user_id, value: params[:user_id]
          .margin_top_5_px
            = f.submit "", class: "icon-new-worklist btn"
      - else
        - @work_list.order(month: :desc).map(&:month).uniq.each do |month|
          - full_work_time = 0.0
          - full_work_time_with_lunch = 0.0
          - full_work_time_with_washing = 0.0

          - WorkList.where(user_id: params[:user_id], month: month).each do |wl|
            - full_work_time += wl.hours_minutes.to_f
            - full_work_time_with_washing += wl.washing_time_minutes.to_f
            - full_work_time_with_lunch += wl.hours_minutes.nil? || wl.hours_minutes.eql?(0.0) ? 0.0 : wl.hours_minutes.to_f - 30.0

          %br
          %table.margin_left_2_per
            %tbody
              %tr
                %th.text-center.width250
                  Month #{month}, #{params[:year]}
                %th.text-center.width125
                  = form_for "", remote: true, url: { controller: "work_lists/work_lists", action: "new"} do |f|
                    = f.hidden_field :month, value: month
                    = f.hidden_field :year, value: params[:year]
                    = f.hidden_field :user_id, value: params[:user_id]
                    = f.submit "", class: "icon-edit-worksheet btn"
                %th.text-center
                  = link_to "", work_lists_show_pdf_path(month: month, year: params[:year], user_id: params[:user_id], format: "pdf"), class: 'btn icon-pdf', target: "_blank"
                %th.text-center
                %th.text-center
                  = link_to "", work_lists_show_excel_path(month: month, year: params[:year], user_id: params[:user_id], format: :xlsx), class: 'btn icon-excel'
                %th
                  %div.text-left
                    = "#{get_time_from_minutes(full_work_time)[:hours]}h #{get_time_from_minutes(full_work_time)[:minutes]}m -- time work "
                  %div.text-left
                    = "#{get_time_from_minutes(full_work_time_with_washing)[:hours]}h #{get_time_from_minutes(full_work_time_with_washing)[:minutes]}m -- Washing "
                  %div.text-left
                    = "#{get_time_from_minutes(full_work_time_with_lunch)[:hours]}h #{get_time_from_minutes(full_work_time_with_lunch)[:minutes]}m -- time work without lunch"

            - full_work_time = 0.0
            - full_work_time_with_lunch = 0.0
            - full_work_time_with_washing = 0.0
:css
  .form-select {
    font-size: 10px;
    height: 44px;
  }