%article
  - if current_user.present?
    - days = Time.days_in_month(params[:month].to_i, params[:year].to_i)
    - u = User.find(params[:user_id])
    %h6 New work list for user:  #{u.first_name} #{u.last_name},  month: #{params[:month]},  year: #{params[:year]}

    = render "shared/flash"

    %section.position_relative.display-inline-block
      .tbl-header
        %table.container.table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
          %thead
            %tr
              %td.text-center.width50  Day
              %td.text-center.width80  Work start
              %td.text-center.width80  Break start
              %td.text-center.width80  Break stop
              %td.text-center.width80  Work stop
              %td.text-center.width80  Washing time
              %td.text-center.width80  Common hours
              %td.text-center.width125 Comment
              %td.text-center.width125
                = link_to "", work_lists_show_pdf_path(month: params[:month], year: params[:year], user_id: params[:user_id], format: "pdf"), class: 'btn icon-pdf', target: "_blank"
                = link_to "", work_lists_show_excel_path(month: params[:month], year: params[:year], user_id: params[:user_id], format: :xlsx), class: 'btn icon-excel'


      .tbl-content-form
        - if !params[:day].blank? || !params[:day].nil?
          :javascript
            $(document).ready(function(){
              document.querySelectorAll(".tr_#{params[:day]}")[0].scrollIntoView({
                behavior: 'auto',
                block: 'center',
                inline: "nearest"
              }) ;

              $(".tr_#{params[:day]}").css('background-color', '#545454');
              console.log("1")
            })


        - days.times do |index|
          - day = index + 1
          = form_for "", remote: true, url: work_lists_create_path(day: day) do |f|
            %table.table.container
              %tbody
                - wl = WorkList.find_by(day: index + 1, month: params[:month], years: params[:year], user_id: params[:user_id])
                - washing_time     = wl.nil? ? "" : wl.washing_time
                - work_start_hour  = wl.nil? ? "" : wl.work_start
                - work_stop_hour   = wl.nil? ? "" : wl.work_stop
                - break_start_hour = wl.nil? ? "" : wl.break_start
                - break_stop_hour  = wl.nil? ? "" : wl.break_stop
                - common_hours     = wl.nil? ? "" : wl.hours

                - wss              = WorkShiftSchedule.find_by(user_id: params[:user_id])
                - if !wss.nil?
                  - period           = Period.find_by(id: WorkShiftSchedule.find_by(user_id: params[:user_id]).period_id, month: params[:month], year: params[:year])
                  - wss_comment      = period.nil? ? nil : period.work_shift_schedules[0]

                - comment = ""
                - if !wss_comment.nil?
                  - day_from_wss     = JSON.parse(wss_comment.work_shift_schedule_day.to_json, symbolize_names: true).tap { |hs| hs.delete(:work_shift_schedule_id) &&  hs.delete(:id) }

                  - comment = ""
                  - day_from_wss.each { |k, v| (v == day && v != nil) ? comment = k.to_s.sub("_number_day", "")  : "" }
                  - comment = wl.nil? ?  wss_comment[comment]  : wl.comment
                - else
                  - comment = wl.nil? ?  ""  : wl.comment

                - condition_disabled = !work_start_hour.blank? || !work_stop_hour.blank? || !break_start_hour.blank? || !break_stop_hour.blank? || !common_hours.blank? || !comment.blank? ? true : false
                = f.hidden_field :day, value: index + 1
                = f.hidden_field :month, value: params[:month]
                = f.hidden_field :year, value: params[:year]
                = f.hidden_field :user_id, value: params[:user_id].nil? ? current_user.id : params[:user_id]

                - if (DateTime.new(params[:year].to_i, params[:month].to_i, day)) == "Tuesday"
                  %td.text-center.width50
                  %td.text-center.width80
                  %td.text-center.width80
                  %td.text-center.width80
                  %td.text-center.width80
                  %td.text-center.width80
                  %td.text-center.width80
                  %td.text-center.width125
                  %td.text-center.width125

                %tr{ class: "tr_#{index + 1}"}
                  %td.text-center.width50.font-size-12
                    = "#{index + 1} - #{DateTime.new(params[:year].to_i, params[:month].to_i, day).strftime("%A")}"
                  %td.text-center.width80
                    = f.time_field :work_start, :format=>"%H:%M", value: work_start_hour, class: "work_start_#{day} border-radius-15px width90 " + (condition_disabled ? "opacity_05" : ""),  readonly: condition_disabled, onchange: "some_#{day}()"
                  %td.text-center.width80
                    = f.time_field :break_start, :format=>"%H:%M", value: break_start_hour, class: "break_start_#{day} border-radius-15px width90 " + (condition_disabled ? "opacity_05" : ""),  readonly: condition_disabled
                  %td.text-center.width80
                    = f.time_field :break_stop, :format=>"%H:%M", value: break_stop_hour, class: "break_stop_#{day} border-radius-15px width90 " + (condition_disabled ? "opacity_05" : ""),  readonly: condition_disabled
                  %td.text-center.width80
                    = f.time_field :work_stop, :format=>"%H:%M", value: work_stop_hour, class: "work_stop_#{day} border-radius-15px width90 " + (condition_disabled ? "opacity_05" : ""),  readonly: condition_disabled, onchange: "some_#{day}()"
                  %td.text-center.width80
                    = f.time_field :washing_time, :format=>"%H:%M", value: washing_time, class: "washing_time_#{day} border-radius-15px width90 " + (condition_disabled ? "opacity_05" : ""),  readonly: condition_disabled, onchange: "some_#{day}()"
                  %td.text-center.width80
                    = f.time_field :common_hours, :format=>"%H:%M", value: common_hours, class: "common_hours_#{day} border-radius-15px width90 " + (condition_disabled ? "opacity_05" : ""),  readonly: condition_disabled, onfocus: "some_#{day}()"
                    :javascript
                        function some_#{day}() {
                          $(".common_hours_#{day}").val(
                            recanculateTime($(".work_stop_#{day}").val(), $(".work_start_#{day}").val())
                          )
                        }
                  %td.text-center.width125
                    = f.text_area :comment, value: comment, class: "border-radius-15px width200  " + (condition_disabled && (!wss_comment.nil? ) ? "opacity_05" : ""), placeholder: "Comment"

                  %td.text-center.width125
                    - if  condition_disabled
                      = button_tag 'Edit', type: "button", class: "btn btn-warning btn-sm width60", id: "edit_#{index + 1}"

                      :javascript
                        $(document).ready(function(){

                           $("#edit_#{index + 1}.btn-warning.btn-sm").on("click", function() {
                              console.log("click btn warning #edit_#{index + 1}")


                              if ($(this).attr('class') == 'btn width60 btn-primary btn-sm click_#{index + 1}') {
                                $(this).find("button").removeAttr('type');
                                $(this).attr('type', 'submit');

                              } else {
                                  $(".tr_#{index + 1}").each(function(index, tr) {
                                     $(tr).find("input").removeAttr('readonly').removeClass("opacity_05")
                                     $(tr).find("textarea").removeAttr('readonly').removeClass("opacity_05")
                                  })

                                 $(this).removeClass('btn-warning btn-sm')
                                 $(this).addClass('btn-primary btn-sm')
                                 $(this).addClass('click_#{index + 1}')
                                 $(this).text("Update")
                               }
                             })
                          })


                    - else
                      = f.submit "Add", class: 'btn width100 btn-dark btn-sm'

:javascript
  function timeToMins(time) {
    var b = time.split(':');
    return b[0]*60 + +b[1];
  }

  // Convert minutes to a time in format hh:mm
  // Returned value is in range 00  to 24 hrs
  function timeFromMins(mins) {
    function z(n){return (n<10? '0':'') + n;}
    var h = (mins/60 |0) % 24;
    var m = mins % 60;
    return z(h) + ':' + z(m);
  }

  // Add two times in hh:mm format
  function recanculateTime(t1, t0) {
    return timeFromMins(timeToMins(t1) - timeToMins(t0));
  }
