%article
  - if current_user.present?
    = render "shared/flash"

    %section.position_relative.display-inline-block{ style: "max-width: 1800px;" }
      - wss = WorkShiftSchedule.find(params[:id])
      - period = Period.find(wss.period_id)
      - user = User.find(wss.user_id)
      %h6
        Edit Worksheet from period #{period.week_number}, user #{user.first_name} #{user.last_name}

      %div{ style: "margin-left: 15%; max-width: 600px;" }
      = form_for "", remote: true, url: { controller: "work_shift_schedules/work_shift_schedules", action: "update"} do |f|
        .tbl-content-form
          %table.table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
            %tbody
              - if mobile_device?
                %tr.display_for_shift
                  = render "work_shift_schedules/table_show", f: f, period: period, wss: wss, user: user
              - else
                %tr.display-table-caption
                  = render "work_shift_schedules/table_show", f: f, period: period, wss: wss, user: user

