%td
  = f.hidden_field :id, value: "#{params[:id]}"
  = f.text_field :to, value: "#{period.to}-#{period.month}-#{period.year}", class: "datepicker", placeholder: "To"
  %br
  %br
  = f.text_field :from, value: "#{period.from}-#{period.month}-#{period.year}", class: "datepicker ", placeholder: "From"
  %br
  %br
  = f.text_field :week_number, value: period.week_number, placeholder: "Week"
  %br
  %br
  = f.select :user_id, User.all.map { |r| [r[:first_name] + " " + r[:last_name], r.id]  }, { selected: wss.user_id }, { class: "form-select width250", style: "height: 60px; " }
%td.text-center
  = f.text_area :monday, value: wss.monday, class: "border-radius-15px width125 height75", placeholder: "Monday"
  = f.number_field :monday_hours, value: wss.monday_hours, class: "border-radius-15px width100", placeholder: "Hours"
%td.text-center
  = f.text_area :tuesday, value: wss.tuesday, class: "border-radius-15px width125 height75", placeholder: "Tuesday"
  = f.number_field :tuesday_hours, value: wss.tuesday_hours, class: "border-radius-15px width100", placeholder: "Hours"
%td.text-center
  = f.text_area :wednesday, value: wss.wednesday, class: "border-radius-15px width125 height75", placeholder: "Wednesday"
  = f.number_field :wednesday_hours, value: wss.wednesday_hours, class: "border-radius-15px width100", placeholder: "Hours"
%td.text-center
  = f.text_area :thursday, value: wss.thursday, class: "border-radius-15px width125 height75", placeholder: "Thursday"
  = f.number_field :thursday_hours, value: wss.thursday_hours, class: "border-radius-15px width100", placeholder: "Hours"
%td.text-center
  = f.text_area :friday, value: wss.friday, class: "border-radius-15px width125 height75", placeholder: "Friday"
  = f.number_field :friday_hours, value: wss.friday_hours, class: "border-radius-15px width100", placeholder: "Hours"
%td.text-center
  = f.text_area :saturday, value: wss.saturday, class: "border-radius-15px width125 height75", placeholder: "Saturday"
  = f.number_field :saturday_hours, value: wss.saturday_hours, class: "border-radius-15px width100", placeholder: "Hours"
%td.text-center
  = f.text_area :sunday, value: wss.sunday, class: "border-radius-15px width125 height75", placeholder: "Sunday"
  = f.number_field :sunday_hours, value: wss.sunday_hours, class: "border-radius-15px width100", placeholder: "Hours"


%td
  = f.submit "Update", class: "btn btn-sm btn-primary"

