%article
  - if current_user.present?
    = form_for "", remote: true, url: { controller: 'locations/locations', action: "update"} do |f|
      = f.hidden_field :id_location, value: params[:id_location]
      %p
      = f.label "Name location"
      %p
      = f.text_field :name, value: params[:name]
      %p
      = f.label "Location link"
      %p
      = f.text_field :link, class: "col-12", value: params[:link]
      %p
      =f.submit "Update", class: "btn btn-sm btn-primary"
