%header
- if current_user.present?
  %article
    = render "shared/flash"
    = form_for "", remote: true, url: { controller: "eggs_collect/collect_lists", action: "search"} do |f|
      %div.display_flex
        %br
          = f.select :month, Date::MONTHNAMES.each_with_index.collect{|m , i| [m.nil? ? m : m + " #{i}" , i]}, { selected: params[:month].nil? ? Time.now.month.to_i : params[:month] }, { class: "form-select width200 margin_left_2_per font-size-16" }
        = f.select :year, %w(2022 2023 2024 2025 2026), { selected:  params[:year].nil? ? Date.today.year : params[:year]  }, { class: "form-select width125 margin_left_2_per font-size-16" }
        = f.select :house, %W[Alakerta/Parvi Uusikana], { selected: params[:house] }, { class: "form-select width150 margin_left_2_per font-size-16" }
        %br
        = f.submit "", class: "margin_left_2_per " + (mobile_device? ? "icon-search-sm" : "icon-search")
        %br

    - if params[:hide] == false

      - if @eggs.blank?
        = form_for "", remote: true, url: { controller: "eggs_collect/collect_lists", action: "new"} do |f|
          = f.hidden_field :month, value: params[:month]
          = f.hidden_field :year, value: params[:year]
          = f.hidden_field :house, value: params[:house]

          .margin_top_5_per.margin_left_2_per
            = f.submit "", class: "icon-new-worklist btn"
      - else
        ///

        - @eggs.order(month: :desc).map(&:month).uniq.each do |month|
          %br
          %table.margin_left_2_per
            %tbody
              %tr
                %th.text-center.width250
                  Month: #{month}, #{params[:year]}
                  House: #{params[:house]}
                %th.text-center.width125
                  = form_for "", remote: true, url: { controller: "eggs_collect/collect_lists", action: "new"} do |f|
                    = f.hidden_field :month, value: month
                    = f.hidden_field :year, value: params[:year]
                    = f.hidden_field :house, value: params[:house]
                    = f.submit "", class: "icon-edit-worksheet btn"
                %th.text-center
                  = link_to "", eggs_collect_show_pdf_path(month: month, year: params[:year], house: params[:house], format: "pdf"), class: 'btn icon-pdf', target: "_blank"
                %th.text-center
                %th.text-center
                  = link_to "", eggs_collect_show_excel_path(month: month, year: params[:year], house: params[:house], format: :xlsx), class: 'btn icon-excel'

    %br
    %br
    %br
    %h6 Period chicks and kuko houses
    - CountChick.all.order(year_end: :desc).uniq.each do |cc|
      %br
      = form_for "", remote: true, url: { controller: "eggs_collect/count_chicks", action: "edit"} do |f|
        = f.hidden_field :id, value: cc.id
        %table.margin_left_2_per
          %tbody
            %tr
              %th.text-center{ id: "th-#{cc.id}"}
                Month: #{cc.month_start} ,Years: #{cc.year_start} - #{cc.year_end}, House: #{cc.house}, chicks - #{cc.chicks_start}, kuko - #{cc.kukko_start}
              %th.text-center.width125
                .display_flex
                  %td{id: "form_#{cc.id}"}
                    = f.select :month_start, Date::MONTHNAMES.each_with_index.collect{|m , i| [m.nil? ? m : m + " #{i}" , i]}, { selected: cc.month_start }, { class: "form-select width200 margin_left_2_per font-size-16" }
                  %td{id: "form_#{cc.id}"}
                    = f.select :year_start, %W[2022 2023 2024 2025 2026], { selected:  cc.year_start  }, { class: "form-select width125 margin_left_2_per font-size-16" }
                  %td{id: "form_#{cc.id}"}
                    = f.select :year_end, %W[2022 2023 2024 2025 2026], { selected: cc.year_end  }, { class: "form-select width125 margin_left_2_per font-size-16" }
                  %td{id: "form_#{cc.id}"}
                    = f.select :house, %W[Alakerta/Parvi Uusikana], { selected: cc.house }, { class: "form-select width150 margin_left_2_per font-size-16" }
                  %td{id: "form_#{cc.id}"}
                    = f.number_field :chicks_start, value: cc.chicks_start, palceholder: "chiks", class: "width150 margin_left_2_per font-size-16 height50"
                  %td{id: "form_#{cc.id}"}
                    = f.number_field :kuko_start, value: cc.kukko_start, palceholder: "kuko", class: "width150 margin_left_2_per font-size-16  height50"
                  %td{id: "form_#{cc.id}"}
                    = f.submit "Change", class: "btn btn-warning margin_left_2_per"
                  %td
                    = f.submit "", class: "icon-edit-worksheet btn btn-#{cc.id}", type: "button"
                :javascript
                  $(document).ready(function() {
                    $("td#form_#{cc.id}").hide()
                    $(".btn-#{cc.id}").on("click", function() {
                        $("th#th-#{cc.id}").hide()
                        $("td#form_#{cc.id}").show()
                        $(".btn-#{cc.id}").hide()
                    })
                  })


    - if current_user.rule.manager
      .margin_top_5_per.margin_left_2_per
        = button_tag "", class: "icon-new-worklist btn btn-add"
        :javascript
          $("#form_add").hide()
          $(document).ready(function() {
            $(".btn-add").on("click", function() {
              $("#form_add").show()
              $(".btn-add").hide()
            })
          })
        #form_add
          = form_for "", remote: true, url: { controller: "eggs_collect/count_chicks", action: "set"} do |f|
            %table
              %thead
                %tr
                  %th Month start
                  %th Year start
                  %th Year stop
                  %th House
                  %th Count chicks
                  %th Count kuko
                  %th
              %tbody
                %tr
                  .display_flex
                    %td
                      = f.select :month_start, Date::MONTHNAMES.each_with_index.collect{|m , i| [m.nil? ? m : m + " #{i}" , i]}, { selected: Time.now.month.to_i }, { class: "form-select width200 margin_left_2_per font-size-16" }
                    %td
                      = f.select :year_start, %W[2022 2023 2024 2025 2026], { selected:  params[:year].nil? ? Date.today.year : params[:year]  }, { class: "form-select width125 margin_left_2_per font-size-16" }
                    %td
                      = f.select :year_end, %W[2022 2023 2024 2025 2026], { selected:  params[:year].nil? ? Date.today.year : params[:year]  }, { class: "form-select width125 margin_left_2_per font-size-16" }
                    %td
                      = f.select :house, %W[Alakerta/Parvi Uusikana], { selected: params[:house] }, { class: "form-select width150 margin_left_2_per font-size-16" }
                    %td
                      = f.number_field :chicks_start, palceholder: "chiks", class: "width150 margin_left_2_per font-size-16 height50"
                    %td
                      = f.number_field :kuko_start, palceholder: "kuko", class: "width150 margin_left_2_per font-size-16  height50"
                    %td
                      = f.submit "Add", class: "btn btn-success margin_left_2_per"


:css
  .form-select {
    font-size: 12px;
    height: 50px;
  }